Уважаемый <%= name %>!
Вы запросили изменение пароля в игре PrizeWord.
Чтобы сменить пароль, пожалуйста, пройдите по <a href="http://api.prize-word.com/password_reset?token=<%= token %>">ссылке</a>, находясь при этом на вашем мобильном устройстве (смена пароля происходит внутри приложения PrizeWord).

С уважением,
администрация PrizeWord.