---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=access_token&fields=friends&limit=2000
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"56c40caaa4ae497b19718c5253cd821e4e8fb241"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100005169875243","friends":{"data":[{"name":"Carol Ameabaahihbf
        Sharpewitz","id":"100005121189826"}],"paging":{"next":"https:\/\/graph.facebook.com\/100005169875243\/friends?access_token=access_token&limit=5000&offset=5000&__after_id=100005121189826"}}}'
  recorded_at: Sat, 02 Feb 2013 09:25:56 GMT
recorded_with: VCR 2.3.0
