---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=Asome_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"451e5a7f5e09d3652d0f0e10c654138519a3aa1c"'
      Last-Modified:
      - '2013-02-02T06:49:42+0000'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100005121189826","name":"Carol Ameabaahihbf Sharpewitz","first_name":"Carol","middle_name":"Ameabaahihbf","last_name":"Sharpewitz","link":"http:\/\/www.facebook.com\/profile.php?id=100005121189826","birthday":"08\/08\/1980","gender":"female","email":"trhdtpc_sharpewitz_1359787780\u0040tfbnw.net","timezone":4,"locale":"en_US","updated_time":"2013-02-02T06:49:42+0000"}'
  recorded_at: Sat, 02 Feb 2013 17:17:00 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=Asome_access_token&fields=friends&limit=2000
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"542cee117c10a616300fcf270a342b2e409fabfd"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100005121189826","friends":{"data":[{"name":"John Ameachchkbb
        Rosenthalsen","id":"100005138380022"},{"name":"Susan Ameafihgebdc Adeagbosen","id":"100005169875243"}],"paging":{"next":"https:\/\/graph.facebook.com\/100005121189826\/friends?access_token=Asome_access_token&limit=5000&offset=5000&__after_id=100005169875243"}}}'
  recorded_at: Sat, 02 Feb 2013 17:17:02 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=access_token
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"98066aa82e38f0475ac443ae22097850546cdceb"'
      Last-Modified:
      - '2013-02-02T13:28:17+0000'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100005138380022","name":"John Ameachchkbb Rosenthalsen","first_name":"John","middle_name":"Ameachchkbb","last_name":"Rosenthalsen","link":"http:\/\/www.facebook.com\/profile.php?id=100005138380022","birthday":"08\/08\/1980","gender":"male","email":"ukohmwj_rosenthalsen_1359811695\u0040tfbnw.net","timezone":4,"locale":"en_US","updated_time":"2013-02-02T13:28:17+0000"}'
  recorded_at: Sat, 02 Feb 2013 17:17:07 GMT
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=Asome_access_token&fields=friends&limit=2000
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"542cee117c10a616300fcf270a342b2e409fabfd"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100005121189826","friends":{"data":[{"name":"John Ameachchkbb
        Rosenthalsen","id":"100005138380022"},{"name":"Susan Ameafihgebdc Adeagbosen","id":"100005169875243"}],"paging":{"next":"https:\/\/graph.facebook.com\/100005121189826\/friends?access_token=Asome_access_token&limit=5000&offset=5000&__after_id=100005169875243"}}}'
  recorded_at: Sat, 02 Feb 2013 17:17:09 GMT
recorded_with: VCR 2.3.0
