---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/wall.post?access_token=access_token&attachmments=&message=join%20me%20to%20play%20prizeword&owner_id=54321
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"error_code":20,"error_msg":"Permission to perform this
        action is denied for non-standalone applications: you should request token
        using blank.html page","request_params":[{"key":"oauth","value":"1"},{"key":"method","value":"wall.post"},{"key":"access_token","value":"c1f2927a659696535a2f63658c7eed8ec9712bf1cfdcf5395b08d64e969c6e43c18c447383c39e5903f96"},{"key":"message","value":"message"},{"key":"attachmments","value":"http:\/\/imgs.xkcd.com\/comics\/tar.png"}]}}'
  recorded_at: Sat, 02 Feb 2013 20:04:45 GMT
- request:
    method: get
    uri: https://api.vk.com/method/getProfiles.json?access_token=access_token&fields=photo_medium,first_name,last_name,city
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":12345,\"first_name\":\"Sherlock\",\"last_name\":\"Holmes\"}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:52 GMT
- request:
    method: get
    uri: https://api.vk.com/method/friends.get?access_token=access_token&fields=uid,first_name,last_name,photo_medium
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":54321,\"first_name\":\"Mycroft\",\"last_name\":\"Holmes\",\"photo\":\"http:\\/\\/cs407921.userapi.com\\/v407921256\\/4747\\/ObxhxLKB1cc.jpg\",\"online\":0}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:52 GMT
[...]
- request:
    method: get
    uri: https://api.vk.com/method/friends.get?access_token=access_token&fields=uid,first_name,last_name,photo_medium
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":54321,\"first_name\":\"Mycroft\",\"last_name\":\"Holmes\",\"photo\":\"http:\\/\\/cs407921.userapi.com\\/v407921256\\/4747\\/ObxhxLKB1cc.jpg\",\"online\":0}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:53 GMT
recorded_with: VCR 2.3.0
