---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/getProfiles.json?access_token=access_token&fields=photo_medium,first_name,last_name,city
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":12345,\"first_name\":\"Sherlock\",\"last_name\":\"Holmes\"}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:52 GMT
- request:
    method: get
    uri: https://api.vk.com/method/friends.get?access_token=access_token&fields=uid,first_name,last_name,photo
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":54321,\"first_name\":\"Mycroft\",\"last_name\":\"Holmes\",\"photo\":\"http:\\/\\/cs407921.userapi.com\\/v407921256\\/4747\\/ObxhxLKB1cc.jpg\",\"online\":0}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:52 GMT
[...]
- request:
    method: get
    uri: https://api.vk.com/method/friends.get?access_token=access_token&fields=uid,first_name,last_name,photo
    body:
      encoding: US-ASCII
      string: ""
    headers: {}

  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"response\":[{\"uid\":54321,\"first_name\":\"Mycroft\",\"last_name\":\"Holmes\",\"photo\":\"http:\\/\\/cs407921.userapi.com\\/v407921256\\/4747\\/ObxhxLKB1cc.jpg\",\"online\":0}]}"
  recorded_at: Sun, 10 Feb 2013 14:55:53 GMT
recorded_with: VCR 2.3.0
