---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/friends.get?access_token=access_token&fields=uid,first_name,last_name,photo
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"response":[{"uid":1234,"first_name":"First","last_name":"Last","online":0, "photo":"http://cs407921.userapi.com/v407921256/4747/ObxhxLKB1cc.jpg"}]}'
  recorded_at: Sat, 02 Feb 2013 09:58:02 GMT
recorded_with: VCR 2.3.0
